@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#name {
  background-image: linear-gradient(90deg, pink, orange);
  background-clip: text;
  color: transparent;
  animation: slide-in 1s ease forwards, change-colour 2s 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  30% {
    opacity: 30%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes change-colour {
  to {
    background-image: linear-gradient(90deg, pink, #906dc8);
    transition: all ease-in 3s;
  }
}
